[submodule "testsuite/submodules/slurm-docker-cluster"]
	path = testsuite/submodules/slurm-docker-cluster
	url = git@github.com:DataWorkflowServices/slurm-docker-cluster.git
[submodule "testsuite/submodules/dws"]
	path = testsuite/submodules/dws
	url = git@github.com:DataWorkflowServices/dws.git
[submodule "testsuite/submodules/dws-test-driver"]
	path = testsuite/submodules/dws-test-driver
	url = git@github.com:DataWorkflowServices/dws-test-driver.git
